myenv/bin/activate
myenv
x_rus
x_train_rus
x_train_rus_alligned
interview_lemmatized_xlsx
df_raw.csv
corpus.index  
corpus
clear_nodes
clear_links
all_sw
dictionary

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
