<!DOCTYPE html>
<html>
<head>
    <title>Preprocessed Data</title>
</head>
<body>
    <h1>Preprocessed Data</h1>
    <table>
        <thead>
            <tr>
                <th>Word</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.vals }}</td>
                <td>{{ item.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Go back</a>
</body>
</html>
